Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

ErrorDocument 404 http://localhost/LeandroXYZ/#404

#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
